################################################################################
# この .gitignore ファイルは Microsoft(R) Visual Studio によって自動的に作成されました。
################################################################################

/PointCloud/x64/Debug
/PointCloudView/x64/Debug
*.ini
/PointCloudApp/WpfApp1/obj
/PointCloudApp/bin/Debug/net8.0-windows
/PointCloudApp/obj/project.assets.json
/PointCloudApp/obj/project.nuget.cache
/PointCloudTest/x64/Debug
/PointCloud/x64/Release
/PointCloudApp/obj/Debug
/PointCloudApp/obj/Release/net8.0-windows
/PointCloudView/x64/Release
/PointCloudApp/obj
/PointCloudTest/x64/Release
/PointCloudApp/bin/Release/net8.0-windows
/PointRenderer/x64/Debug
/PointCloud/PointCloud/x64/Debug
/PointCloudTest/PointCloudTest/x64/Debug
/PointRenderer/x64/Release
/PyPointCloud/build
/PyPointCloud/tests/__pycache__
/crystal_pc_addon/__pycache__
/PyPointCloud/build_blender41
/PyPointCloud/build_v142
*.spv
/VulkanPointCloudView/VulkanPo.C4E1F2A3/x64/Debug
/VulkanPointCloudView/x64/Debug
/PointCloudView/PointCloudView/x64/Debug
/PointRenderer/PointRenderer/x64/Debug
/samples
/__pycache__
*.log
/output
/VulkanPointCloudView/x64/Release
/PointCloud/PointCloud/x64/Release
/PointCloud/PointCloud/x64/Release
/PointCloudView/PointCloudView/x64/Release
/PointRenderer/PointRenderer/x64/Release
/VulkanPointCloudView/VulkanPo.C4E1F2A3/x64/Release
/PointCloudView/VulkanPo.C4E1F2A3/x64/Debug
/PointCloudView/VulkanPo.C4E1F2A3/x64/Release
/GS_PBVRView/x64/Debug
/GS_PBVRView/x64/Release
/VkPointRenderer/VkPointRenderer/x64/Debug
/VkPointRenderer/VkPointRenderer/x64/Release
/VkPointRenderer/x64/Debug
/VkPointRenderer/x64/Release
/Phantom/x64/Debug
/Phantom/x64/Release
/GSView/GSView/x64/Debug
/GSView/x64/Debug
/GSView/x64/Release
/PointCloudTest/PointCloudTest/x64/Release
/build_linux
